[submodule "thirdparty/cxxopts"]
	path = External/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "Assets/Media"]
	path = Assets/Media
	url = https://github.com/NVIDIA-RTX/RTXDI-Assets
